<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="tz.co.codetanzania">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <!-- We're going to use the permission to write to the external public directory.
        The WRITE_EXTERNAL_STORAGE permission implicitly grants the READ_EXTERNAL_STORAGE
        permission. So in this case, it suffices to write just this one liner
     -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="true"
        android:name="com.github.codetanzania.CivilianFeedback"
        tools:ignore="GoogleAppIndexingWarning">

        <!--
            The Application targeting Android 7.0+, passing file://<path> URIs across package boundary
            causes a FileUriExposedException (Reasonably ok to conceal app internals). In such occasion,
            choosing FileProvider to pass the URIs across boundaries is not an option.
        -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name="com.github.codetanzania.ui.activity.IDActivity"
            android:windowSoftInputMode="adjustResize"
            android:label="@string/app_name" />

        <activity android:name="com.github.codetanzania.ui.activity.IssueTicketGroupsActivity"
            android:label="@string/app_name" />

        <activity android:name="com.github.codetanzania.ui.activity.ServiceGroupItemsActivity"
            android:label="@string/app_name" />

        <activity android:name="com.github.codetanzania.ui.activity.CivilianProfileActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:label="@string/app_name"/>

        <!-- Splash screen activity performs authorization by requesting new token from the server -->
        <activity android:name="com.github.codetanzania.ui.activity.SplashScreenActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Edit user profile -->
        <activity android:name="com.github.codetanzania.ui.activity.EditProfileActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:label="@string/app_name" />

        <activity android:name="com.github.codetanzania.ui.activity.ErrorActivity"
            android:label="@string/app_name"/>

        <activity android:name="com.github.codetanzania.ui.activity.IssueProgressActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:label="@string/app_name">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <activity android:name="com.github.codetanzania.ui.activity.HomeMenuActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:label="@string/app_name"/>

        <activity android:name="com.github.codetanzania.ui.activity.ReportIssueActivity"
            android:windowSoftInputMode="adjustResize"
            android:label="@string/app_name"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCffLfUtiMHteN7KKyX1sUWx8bRpcvdTwI"/>

    </application>

</manifest>